/* FONTS */

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/caviardreams-webfont.eot');
    src: url('../fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams-webfont.woff') format('woff'),
         url('../fonts/caviardreams-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ESTILOS BOOTSTRAP */

.btn-default{
	background: #f47b2c;
	border-color: #CCCCCC;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
	background: #e56a23;
}
.form-control:focus{
	border-color: #f47b2c;
}
.panel{
	overflow: hidden;
}
a, a:hover, a:focus, a:active{
	outline: none;
}
.help-block{
	margin-bottom: 0;
}
.help-block ul{
	margin: 0;
	padding: 0;
}
.DTTT_container .btn-default{
	margin-right: 5px;
}

/* LOGIN */

body{
	background: url(../images/bg-repeat.jpg);
}
.fondo_login{
	background: url(../images/clock_red.png) no-repeat;
	width: 256px;
	height: 256px;
}
.login{
	width: 600px;
	margin: 150px auto 0;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.75);
}
.login h2{
	font-family: 'quicksandregular', Arial, sans-serif;
	padding: 0;
	margin: 35px 25px 20px 25px;
}

/* PRINCIPAL */

.wrapper_header{
	background: #fff;
	height: 64px;
	-webkit-box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
	-moz-box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
	box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
}
.header{
	width: 960px;
	margin: 0 auto;
}
.header .logo{
	background: url(../images/clock_red_peq.png) no-repeat;
	width: 64px;
	height: 64px;
}
.menu{
	list-style: none;
}
.menu-top li{
	float: left;
	margin-right: 25px;
}
.menu-top li a{
	font-family: 'quicksandregular', Arial, sans-serif;
	font-size: 1.1em;
	color: #333;
	line-height: 64px;
}
.menu-top .current{
	color: #F47B2C;
}
.pull-right .dropdown{
	margin-right: 0;
}
.dropdown-menu{
	min-width: 0;
}
.dropdown-menu li{
	width: 100%;
	margin-right: 0;
}
.dropdown-menu li a{
	width: 100%;
	line-height: 24px;
	padding: 5px 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  	color: #ffffff;
  	text-decoration: none;
  	background: #f47b2c;
	transition: background 0.2s, color 0.2s;
	-o-transition: background 0.2s, color 0.2s;
	-ms-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	-webkit-transition: background 0.2s, color 0.2s;
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  	color: #ffffff;
  	text-decoration: none;
  	background: #f47b2c;
	transition: background 0.2s, color 0.2s;
	-o-transition: background 0.2s, color 0.2s;
	-ms-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	-webkit-transition: background 0.2s, color 0.2s;
  	background-repeat: repeat-x;
  	outline: 0;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

/* CONTENIDO */

.content{
	position: relative;
	width: 1050px;
	margin: 20px auto;
}
.content .contenido{
	position: relative;
	background: #fff;
	font-family: 'caviardreams', Arial, sans-serif;
	border: 1px solid #AFAFAF;
	margin-left: -1px;
}
.menu-left{
	position: relative;
	font-family: 'quicksandregular', Arial, sans-serif;
	font-size: 0.9em;
	padding: 0;
	height: 100%;
	border-right: 1px solid #AFAFAF;
	border-bottom: 0;
}
.menu-left ul{
	position: relative;
	padding: 0;
	margin: 25px 0 0 57px;
	border: 1px solid #AFAFAF;
	border-bottom: 0;
	border-right: 0;
}
.menu-left ul li{
	background: #fff;
	padding-top: 5px;
	border-bottom: 1px solid #AFAFAF;
}
.menu-left ul li a{
	color: #333333;
	padding: 12px 20px;
	margin: 0 5px 5px 5px;
	display: block;
	transition: background 0.2s, color 0.2s;
	-o-transition: background 0.2s, color 0.2s;
	-ms-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	-webkit-transition: background 0.2s, color 0.2s;
}
.menu-left .current{
	position: relative;
	margin-right: -1px;
	z-index: 99;
}
.menu-left .current a{
	color: #fff;
	display: block;
	background: #f47b2c;
}
.menu-left ul li a:hover{
	color: #fff;
	background: #f47b2c;
	transition: background 0.2s, color 0.2s;
	-o-transition: background 0.2s, color 0.2s;
	-ms-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	-webkit-transition: background 0.2s, color 0.2s;
}

/* PERFIL */

.perfil{
	width: 650px;
	margin: 0 auto;
	padding: 10px 40px 40px;
	background: #fff;
	border: 1px solid #AFAFAF;
	-webkit-box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
	-moz-box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
	box-shadow: 0px 4px 20px -14px rgba(0,0,0,1);
}
.perfil .col-lg-3{
	text-align: center;
}
.perfil .col-lg-9{
	padding-top: 60px;
}
.perfil ul{
	list-style: none;
	padding-left: 0;
}
.perfil ul li h4{
	line-height: 32px;
}
.perfil ul img{
	float: left;
	margin-right: 15px;
}
.perfil h1, .perfil h2, .perfil h3, .perfil h4, .perfil h5,
.contenido h1, .contenido h2, .contenido h3, .contenido h4, .contenido h5{
	font-family: 'caviardreams', Arial, sans-serif;
}

/* SOLICITUDES */
.contenido{
	padding: 0 45px 30px;
	margin-bottom: 30px;
}
.contenido .control-label{
	text-align: left;
	padding-top: 5px;
}
.panel .col-sm-4 input{
	padding-top: 3px;
}
.solicitudes .codigo, .solicitudes .acciones{
	width: 12%;
}
.rendicion{
	font-size: 0.9em;
}
.rendicion input{
	padding: 1px;
}
.rendicion thead tr th{
	text-align: center;
}
.rendicion tbody tr td{
	width: 10%;
	font-size: 0.9em;
	padding: 4px 2px;
}
.rendicion thead tr .fechagasto{
	width: 20%;
}
.rendicion tbody tr .acciones{
	vertical-align: middle; 
}
.switcheditar{
	margin-top: 8px;
}

/* CONTROL DE HORAS */
.tablacontrolhoras{
	padding: 30px 45px 45px;
}
.tablacontrolhoras .servicio{
	width: 13%;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * 
 * FormToWizard
 * 
 */

#ingresocp .prev, #ingresocp .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
#ingresocp .prev:hover, #ingresocp .next:hover { background-color:#000; text-decoration:none;}
#ingresocp .prev { float:left;}
#ingresocp .next { float:right;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; margin-bottom: 10px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}
.step2 .control-label { text-align: left; }
#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
#makeWizard:hover { background-color:#000;}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
